colour~=0.1.5
pycountry~=19.8.18
ccy~=1.1.0
yfinance~=0.1.54
babel~=2.8.0
cryptography~=2.9.2
bokeh~=2.0.0
numpy~=1.19.1
mpld3
matplotlib~=3.2.2
pandas~=1.0.3
flask~=1.1.2
flask_pymongo
flask-simple-geoip
gunicorn
dnspython
Jinja2 >=2.7
packaging >=16.8
pillow >=4.0
python-dateutil >=2.1
PyYAML >=3.10
six >=1.5.2
tornado >=4.3
requests~=2.24.0
pymongo~=3.10.1
beautifulsoup4~=4.9.1
APScheduler>=3.0.0
lxml
bs4~=0.0.1
rq~=1.7.0
setuptools~=41.4.0
redis>=3.2.100