<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-x.y.z.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-x.y.z.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-x.y.z.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-api-x.y.z.min.js"></script>
</head>
<body>
    <div style="padding:15px;text-align:center;">
        <h1>Company explorer</h1>
    </div>
    <div style="overflow:auto;">
        <div class="menu">
            <h2>Filters</h2>
            <form>
                <label for="country">Country</label>
                <select id="country">
                    <option>All</option>
                    <option>France</option>
                    <option>United States</option>
                    <option>Canada</option>
                </select>
                <button onclick="filterCountry();" type="button">Filter</button>
            </form>
        </div>
        <div class="main_content">
            {{ dividends | safe}}
        </div>
        <div class="right">
        </div>
    </div>
</body>
</html>
