<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.0.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.0.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.0.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
    <!-- TO BE REMOVED/> -->
    <script type="text/javascript" src="../static/js/main.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
</head>

<body>
    <div style="overflow:auto;">
        <div class="menu">
            <div onclick="got_to_portfolio_manager()" class="menu_button">Portfolios</div>
            <div onclick="go_to_screener()" class="menu_button">Screener</div>
        </div>
        <div class="main_content">
            <div>
                <div class="logout-button" onclick="disconnect();">Log Out</div>
                <div class="title">
                    <h1>Screener</h1>
                </div>
            </div>


            <div id="dividends">
                <div class="tab">
                    <button class="tablinks" onclick="openTab(event, 'Summary')">Summary</button>
                    <button class="tablinks" onclick="openTab(event, 'Growth')">Finances</button>
                    <button class="tablinks active" onclick="openTab(event, 'Dividends')">Dividends</button>
                </div>
                <div id="global_info">
                    <h1>{{ name | safe}}</h1>
                    <h2>{{ ticker | safe}}</h2>
                    <h2>{{ sector | safe}}</h2>
                    <h2>{{ description | safe}}</h2>
                    <script></script>
                    <div id="last_update">Last update: {{last_update | safe}}</div>
                </div>
                <div id="Dividends" class="tabcontent" style="display: block;">
                    <p class="div_score">{{ div_score | safe}}</p>
                    <table class="div_info">
                        <tr>
                            <th><h3>Div. Yield</h3></th>
                            <th><h3>Last year Growth Rate</h3></th>
                            <th><h3>3 Years Growth Rate</h3></th>
                            <th><h3>5 Years Growth Rate</h3></th>
                            <th><h3>Payout Ratio</h3></th>
                            <th><h3>Dividend Growth</h3></th>
                        </tr>
                        <tr>
                            <td><h2>{{ div_yield | safe}}</h2></td>
                            <td><h2>{{ cagr1 | safe}}</h2></td>
                            <td><h2>{{ cagr3 | safe}}</h2></td>
                            <td><h2>{{ cagr5 | safe}}</h2></td>
                            <td><h2>{{ payout | safe}}</h2></td>
                            <td><h2>{{ growth | safe}} Years</h2></td>
                        </tr>
                    </table>
                    {{ script | safe}}
                    {{ dividends | safe}}
                </div>
            </div>
        </div>
        <div class="right"></div>
    </div>
</body>
    <script>
        var last_update = new Date('{{last_update | safe}}');
        var today = new Date();
        var mil_to_days = 24*60*60*1000;
        var diff_time = (today - last_update)/mil_to_days 
        var style_date = "last_update_recent";
        if (diff_time> 1){
            style_date = "last_update_late";
        }
        else if(diff_time > 5){
            style_date = "last_update_passed";
        }
        document.getElementById("last_update").className = style_date;
        console.log(style_date);
    </script>
</html>

