<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.0.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.0.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.0.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bar_charts/bar_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bar_charts/vertical_bar_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bar_charts/diverging_hierarchical_bar_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bar_charts/diverging_hierarchical_horizontal_bar_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/line_charts/line_chart.js') }}"></script>
    <!-- TO BE REMOVED/> -->
    <script type="text/javascript" src="../static/js/main.js"></script>
    <script>
        var hierarchical_revenues_data = {{ hierarchical_revenues_data | safe }};
        var hierarchical_earnings_data = {{ hierarchical_earnings_data | safe }};
        var hierarchical_debt_data = {{ hierarchical_debt_data | safe }};
        var hierarchical_dividends_data = {{ hierarchical_dividends_data | safe }};
    </script>

    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
</head>

<body>
    <div style="overflow:auto;">
        <div class="menu">
            <div onclick="got_to_portfolio_manager()" class="menu_button">Portfolios</div>
            <div onclick="go_to_screener()" class="menu_button">Screener</div>
        </div>
        <div class="main_content">
            <div>
                <div class="logout-button" onclick="disconnect();">Log Out</div>
                <div class="title">
                    <h1>Screener</h1>
                </div>
            </div>


            <div id="dividends">
                <div class="tab">
                    <button class="tablinks" onclick="openTab('summary_button', 'Summary')" id="summary_button">Summary</button>
                    <button class="tablinks" onclick="openTab('finances_button', 'Finances')" id="finances_button">Finances</button>
                    <button class="tablinks active" onclick="openTab('dividends_button', 'Dividends')" id="dividends_button">Dividends</button>
                </div>
                <div id="Summary" class="tabcontent" style="display: block;">
                    <h1>{{ name | safe}} ({{ ticker | safe}})</h1>
                    <h2>{{ sector | safe}}</h2>
                    <div id="last_update">Last update: {{last_update | safe}}</div>
                    <p>{{ description | safe}}</p>
                </div>
                <div id="Finances" class="tabcontent" style="display: block;">
                    <h2>Revenues</h2>
                    <p>Revenue is the income generated from normal business operations and includes discounts and deductions for returned merchandise. It is the top line or gross income figure from which costs are subtracted to determine net income. </p>
                    <div id='container_revenues'></div>
                    <h2>Net Income</h2>
                    <p>Net income (NI), also called net earnings, is calculated as sales minus cost of goods sold, selling, general and administrative expenses, operating expenses, depreciation, interest, taxes, and other expenses. It is a useful number for investors to assess how much revenue exceeds the expenses of an organization. This number appears on a company's income statement and is also an indicator of a company's profitability. </p>
                    <div id='container_earnings'></div>
                    <h2>Debt Ratio</h2>
                    <p>Debt is an amount of money borrowed by one party from another. Debt is used by many corporations and individuals as a method of making large purchases that they could not afford under normal circumstances. A debt arrangement gives the borrowing party permission to borrow money under the condition that it is to be paid back at a later date, usually with interest. </p>
                    <div id='container_debt_ratio'></div>
                </div>
                <div id="Dividends" class="tabcontent" style="display: block;">
                    <p class="div_score"><strong>Dividend Score:</strong> {{ dividend_features["div_score"] | safe}}</p>
                    <table class="div_info">
                        <tr>
                            <th><h3>Div. Yield</h3></th>
                            <th><h3>Last year Growth Rate</h3></th>
                            <th><h3>3 Years Growth Rate</h3></th>
                            <th><h3>5 Years Growth Rate</h3></th>
                            <th><h3>Payout Ratio</h3></th>
                            <th><h3>Dividend Growth</h3></th>
                        </tr>
                        <tr>
                            <td><h2>{{ dividend_features["div_yield"] | safe}}</h2></td>
                            <td><h2>{{ dividend_features["cagr_1"] | safe}}</h2></td>
                            <td><h2>{{ dividend_features["cagr_3"] | safe}}</h2></td>
                            <td><h2>{{ dividend_features["cagr_5"] | safe}}</h2></td>
                            <td><h2>{{ dividend_features["payout_ratio"] | safe}}</h2></td>
                            <td><h2>{{ dividend_features["continuous_dividend_growth"] | safe}} Years</h2></td>
                        </tr>
                    </table>
                    <p>A dividend is the distribution of some of a company's earnings to a class of its shareholders, as determined by the company's board of directors.
                        Common shareholders of dividend-paying companies are typically eligible as long as they own the stock before the ex-dividend date.
﻿                        Dividends may be paid out as cash or in the form of additional stock. </p>
                    <div id='container_dividend'></div>
                </div>
            </div>
        </div>
        <div class="right"></div>
    </div>
</body>
    <script>
        var last_update = new Date('{{last_update | safe}}');
        var today = new Date();
        var mil_to_days = 24*60*60*1000;
        var diff_time = (today - last_update)/mil_to_days 
        var style_date = "last_update_recent";
        if (diff_time> 1){
            style_date = "last_update_late";
        }
        else if(diff_time > 5){
            style_date = "last_update_passed";
        }
        document.getElementById("last_update").className = style_date;
        console.log(style_date);
        new DivergingHierarchicalHorizontalBarChart("div#container_revenues", hierarchical_revenues_data)
        new DivergingHierarchicalHorizontalBarChart("div#container_earnings", hierarchical_earnings_data)
        new DivergingHierarchicalHorizontalBarChart("div#container_dividend", hierarchical_dividends_data)
        new LineChart("div#container_debt_ratio", hierarchical_debt_data)
        openTab('finances_button', 'Finances');
    </script>
</html>

