<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bar_charts/bar_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bar_charts/stackable_bar_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bar_charts/vertical_bar_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bar_charts/hierarchical_bar_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bar_charts/diverging_hierarchical_bar_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/map_charts/world_map.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/line_charts/line_chart.js') }}"></script>
    <!-- TO BE REMOVED/> -->
    <script>
        var tickers = {{ tickers | tojson }};
        var hierarchical_investment_data = {{ hierarchical_investment_data | safe }};
        var companies_investment_data = {{ companies_investment_data | safe }};
        var hierarchical_dividend_data = {{ hierarchical_dividend_data | safe }};
        var companies_dividend_data = {{ companies_dividend_data | safe }};
        var dividend_history = {{ dividend_history | safe }};
        const dividends = {{ dividends | safe }};
        var countries = {{ countries | tojson }};
        var invested_per_country = {{ invested_per_country | safe }};
        var dividend_per_country = {{ dividend_per_country | safe }};
        var growth_per_country = {{ growth_per_country | safe }};
        var hierarchical_growth_data = {{ hierarchical_growth_data | safe }};
        var history_data = {{ history_data | safe }};
        var history_ratio_data = {{ history_ratio_data | safe }};
        var dividend_name_ascending, dividend_ticker_ascending, dividend_amount_ascending, dividend_date_ascending = false;

    </script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #302E2E;">
        <a class="navbar-brand" href="#">Cresus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#" onclick="got_to_portfolio_manager()">Portfolios <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#" onclick="go_to_screener()">Screener</a>
                <a class="nav-item nav-link" href="#">Pricing</a>
            </div>
        </div>
        {% if user_id %}
            <button class="btn btn-danger my-2 my-sm-0 mr-3" onclick="disconnect();">Logout</button> 
        {% else %}
            <button class="btn btn-primary my-2 my-sm-0 mr-3" onclick="go_to_login();">Login</button> 
            <button class="btn btn-success my-2 my-sm-0 mr-3" onclick="go_to_register();">Sign-up</button>
        {% endif %}
    </nav>
    <div style="overflow:auto;">
        <div class="main_content">
            <div>
                <div class="title">
                    <h1>Portfolio Dashboard</h1>
                </div>
            </div>


            <div id="dividends">
                <div class="tab">
                    <button class="tablinks active" onclick="openTab('summary_button', 'Summary')" id="summary_button">Summary</button>
                    <button class="tablinks" onclick="openTab('growth_button', 'Growth')" id="growth_button">Growth</button>
                    <button class="tablinks" onclick="openTab('dividends_button', 'Dividends')" id="dividends_button">Dividends</button>
                    <button class="tablinks" onclick="openTab('transactions_button', 'Transactions')" id="transactions_button">Transactions</button>
                </div>
                <!-- Tab content -->
                <div id="Summary" class="tabcontent" style="display: block;">
                    <h1>{{ name | safe}}</h1>
                    {% if uptodate %}
                        <div class="last_update_recent">Up-to-date</div>
                    {% else %}
                        <div class="last_update_late">Updating</div>
                    {% endif %}
                    <table class="div_info" >
                        <tr><td><h2>Invested</h2></td><td><h2>Current</h2></td><td><h2> Today</h2></td><td><h2>Total</h2></td></tr>
                        <tr><td><h2>{{ total | safe}}</h2></td><td><h2>{{ current | safe}} </h2></td><td><h2>{{ today_change | safe}}<br>{{ diff_today_current_price | safe }}</h2></td><td><h2>{{ total_change | safe}}<br>{{ diff_current_price | safe }}</h2></td></tr>

                    </table>
                    <table class="dataframe" id="summary_table">
                        <thead>
                            <tr>
                                <th onclick="sortTable(0, 'summary_table')">Yahoo Ticker</th>
                                <th onclick="sortTable(1, 'summary_table')">Name</th>
                                <th onclick="sortTable(2, 'summary_table')">Shares</th>
                                <th onclick="sortTable(3, 'summary_table')">Price</th>
                                <th onclick="sortTable(4, 'summary_table')">Dividend (Yield)</th>
                                <th onclick="sortTable(5, 'summary_table')">Daily Change (%)</th>
                                <th onclick="sortTable(6, 'summary_table')">Total Change (%)</th>
                                <th onclick="sortTable(7, 'summary_table')">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if is_empty %}
                            <tr>
                                <td colspan="8"><p class="empty_transaction" onclick="openTab(event, 'Transactions')">No transaction added. Click here to add a transaction.</p></td>
                            </tr>
                            {% else %}
                            {{ portfolio | safe }}
                            {% endif %}
                        </tbody>
                    </table>
                    <h2>Investment Diversification</h2>
                    <div class='layout'>
                        <h3>Click on a bar to expand. Click on the background to go back.</h3>
                        <div id='container_investment'></div>
                        <div id='container_investment_companies'></div>
                        <div id='container_investment_countries'></div>
                    </div>

                </div>
                
                <div id="Growth" class="tabcontent" style="display: block;">
                    <table class="div_info">
                        <tr>
                            <th>
                                <h3>Today</h3>
                            </th>
                            <th>
                                <h3>Last Week</h3>
                            </th>
                            <th>
                                <h3>Last month</h3>
                            </th>
                            <th>
                                <h3>Last Year</h3>
                            </th>
                            <th>
                                <h3>Total</h3>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <h2>{{ today_change | safe}}</h2>
                            </td>
                            <td>
                                <h2>{{ week_change | safe}}</h2>
                            </td>
                            <td>
                                <h2>{{ month_change | safe}}</h2>
                            </td>
                            <td>
                                <h2>{{ year_change | safe}}</h2>
                            </td>
                            <td>
                                <h2>{{ total_change | safe}}</h2>
                            </td>
                        </tr>
                    </table>
                    <div id="graphDiv">
                        {{ script | safe}}
                        {{ close | safe}}
                    </div>
                    <div class='layout'>
                        <div id='container_historical_growth'></div>
                        <h3>Click on a bar to expand. Click on the background to go back.</h3>
                        <div id='container_growth'></div>
                        <div id='container_growth_companies'></div>
                        <div id='container_growth_countries'></div>
                    </div>
                    
                </div>

                <div id="Dividends" class="tabcontent" style="display: block; paddint-top: 0px;">
                    <div class="row p-5" style="background-color: #98908a;">
                        <div class="col-xl-7 p-3">
                            <div class="row justify-content-md-center mb-3">
                                <div class="col-sm-5">
                                    <div class="card text-center bg-transparent border-0">
                                        <h2>{{ div_yield | safe}}</h2><br>
                                        Dividend Yield
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="card text-center bg-transparent border-0">
                                        <h2>{{ net_div_yield | safe}}</h2><br>
                                        Net Dividend Yield
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="col-sm-5">
                                    <div class="card text-center bg-transparent border-0">
                                        <h2>{{ annual_div | safe}}</h2><br>
                                        Annual Dividends
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="card text-center bg-transparent border-0">
                                        <h2>{{ net_annual_div | safe}}</h2><br>
                                        Net Annual Dividends
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 p-3">
                            <div>
                                <h2>Upcoming Dividends</h2>
                                <table class="dataframe2 left">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Ticker</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if upcoming_dividends %}
                                            {% for dividend in upcoming_dividends %}
                                                <tr>
                                                    <td> {{dividend["date"]}} days</td>
                                                    <td> {{dividend["ticker"]}} </td>
                                                    <td> {{dividend["amount"]}} </td>
                                                </tr>

                                            {% endfor %}
                                        {% else %}
                                            <td colspan="3">No upcoming dividends</td>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="p-5">
                        <h2>History</h2>
                        <div class="row justify-content-md-center">
                            <div class="col-sm-4">
                                <div class="card text-center bg-transparent border-0 m-3">
                                    <h2>{{ received_div | safe}}</h2><br>
                                    Received Dividends
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="card text-center bg-transparent border-0 m-3">
                                    <h2>{{ net_received_div | safe}}</h2><br>
                                    Received Net Dividends
                                </div>
                            </div>
                        </div>

                        <div class='layout'>
                            <div id="container_dividend_history"></div>
                        </div>
                        <table class='dataframe mb-3' id="dividend_table">
                            <tr>
                                <th onclick="dividend_ticker_ascending = fillDividendsHistory(dividends, 1, 'Tickers', dividend_ticker_ascending);">Yahoo Ticker</th>
                                <th onclick="dividend_ticker_ascending = fillDividendsHistory(dividends, 1, 'Name', dividend_ticker_ascending);">Name</th>
                                <th onclick="dividend_amount_ascending = fillDividendsHistory(dividends, 1, 'Dividends', dividend_amount_ascending);">Amount</th>
                                <th onclick="dividend_date_ascending = fillDividendsHistory(dividends, 1, 'Date', dividend_date_ascending);">Date</th>
                            </tr>
                        </table>
                        <div id="pagination_dividend"></div>
                    </div>
                    <div class="p-5">
                        <h2>Growth</h2>
                        <div class="row justify-content-md-center">
                            <div class="col-sm-4">
                                <div class="card text-center bg-transparent border-0 m-3">
                                    <h2>{{ cagr1 | safe}}</h2><br>
                                    1 Year Growth Rate
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card text-center bg-transparent border-0 m-3">
                                    <h2>{{ cagr3 | safe}}</h2><br>
                                    3 Year Growth Rate
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card text-center bg-transparent border-0 m-3">
                                    <h2>{{ cagr5 | safe}}</h2><br>
                                    5 Year Growth Rate
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-5">
                        <h2>Stability & Security</h2>
                        <div class="row justify-content-md-center">
                            <div class="col-sm-4">
                                <div class="card text-center bg-transparent border-0 m-3">
                                    <h2>{{ payout | safe}}</h2><br>
                                    Payout Ratio
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card text-center bg-transparent border-0 m-3">
                                    <h2>{{ growth | safe}} years</h2><br>
                                    Dividend Growth
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card text-center bg-transparent border-0 m-3">
                                    <h2>{{ growth_stability | safe}}</h2><br>
                                    Dividend Growth Stability
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-5">
                        <h2>Dividend diversification</h2>
                        <div class='layout mt-3'>
                            <h4>Click on bars to expand. Click on background to go back.</h4>
                            <div id="container_dividend"></div>
                            <div id="container_dividend_companies"></div>
                            <div id="container_dividend_countries"></div>
                        </div>
                    </div>
                </div>
                <div id="Transactions" class="tabcontent" style="display: block;">
                    <div id="error_add_transaction"></div>
                    <table class="dataframe mb-5" id="transaction_table">
                        <tr>
                            <th onclick="sortTable(0, 'transaction_table', 2)">Yahoo Ticker</th>
                            <th onclick="sortTable(1, 'transaction_table', 2)">Name</th>
                            <th onclick="sortTable(2, 'transaction_table', 2)">Shares</th>
                            <th onclick="sortTable(3, 'transaction_table', 2)">Price per Share (COS)</th>
                            <th onclick="sortTable(4, 'transaction_table', 2)">Price per Share in {{ currency | safe}}</th>
                            <th onclick="sortTable(5, 'transaction_table', 2)">Fees</th>
                            <th onclick="sortTable(6, 'transaction_table', 2)">Date</th>
                            <th onclick="sortTable(7, 'transaction_table', 2)">Total</th>
                            <th></th>
                        </tr>
                        
                        <tr class="input_row">
                            <form id="add_transaction" target="_self" method="post" class="form-group">
                                <input type="text" name="action" hidden=True value="add_transaction">
                                <input type="number" step="0.01" disabled name="total" value="0" hidden=True id="total_add">
                                <td><input type="text" name="ticker" list="tickers" maxlength=10 required=True placeholder="MSFT" id="ticker_input" onchange="fill_name(tickers);" autocomplete="off">
                                    <datalist id="tickers">
                                    </datalist></td>
                                <td><input type="text" name="name" list="names" required placeholder="Microsoft" id="name_input" onchange="fill_ticker(tickers);" autocomplete="off">
                                    <datalist id="names">
                                    </datalist></td>
                                <td><input type="number" step="0.01" name="shares" required placeholder="2" id="shares" onChange="computeTotal('{{ currency }}');"></td>
                                <td><input type="number" step="0.01" name="price_COS" required placeholder="136.54"></td>
                                <td><input type="number" step="0.01" name="price" required placeholder="125.13" id="price" onChange="computeTotal('{{ currency }}');"></td>
                                <td><input type="number" step="0.01" name="fees" required placeholder="0.15"></td>
                                <td><input type="date" name="date" required placeholder="2000-01-02" value="" id="date_picker"></td>
                                <td id="total_add_text">0.00€</td>
                                <td>
                                    <div class="submit_button" id="submit_transaction" onclick="add_transaction(tickers);">ADD</div>
                                </td>
                            </form>
                        </tr>
                        {{ transactions | safe }}
                    </table>
                </div>
            </div>
        </div>
        <div class="right">
        </div>
    </div>

</body></html>

<script>
    fillTransactionFormWithTickers(tickers);
    fillDividendsHistory(dividends, 1);
    document.getElementById('date_picker').value = new Date().toDateInputValue();
    new HierarchicalBarChart("div#container_investment", hierarchical_investment_data).svg.node();
    new VerticalBarChart("div#container_investment_companies", companies_investment_data);
    new HierarchicalBarChart("div#container_dividend", hierarchical_dividend_data).svg.node();
    new VerticalBarChart("div#container_dividend_companies", companies_dividend_data);
    new StackableBarChart("div#container_dividend_history", dividend_history);
    new WorldMap("div#container_investment_countries", countries, invested_per_country)
    new WorldMap("div#container_dividend_countries", countries, dividend_per_country)
    new WorldMap("div#container_growth_countries", countries, growth_per_country, true)
    new DivergingHierarchicalBarChart("div#container_growth", hierarchical_growth_data)
    new LineChart("div#container_historical_growth", history_data)
    openTab('growth_button', "Growth");
</script>

