<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/screener.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.js') }}"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bar_charts/bar_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bar_charts/vertical_bar_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bar_charts/diverging_hierarchical_bar_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bar_charts/diverging_hierarchical_horizontal_bar_chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/line_charts/line_chart.js') }}"></script>
    <meta charset="UTF-8">
    <title>Screener</title>
    <link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/screener.css">

    <script type="text/javascript" src="../static/js/main.js"></script>
    <script type="text/javascript" src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <script>
        var tickers = {{ tickers | safe }};
    </script>
</head>

<body>
        <div class="main_content">
            <h1>Screener</h1>
            <div>
                <span class="input" >
                    <input type="text" placeholder="Enter company's ticker: MSFT" onkeyup="suggestCompanies(event, tickers);" id="ticker_input" list="tickers"  onfocus="$('#tickers').collapse('show');">
                    <button class="screen_valid" onclick="startSearch();"><strong>SEARCH</strong></button>
                    <span></span>
                </span>
                <div id="tickers" class="collapse">
                    <div onclick="selectTicker('MSFT');"><strong>MSFT</strong><br/><span class="company_name_datalist">Microsoft</span></div>
                    <div onclick="selectTicker('AAPL');"><strong>AAPL</strong><br/><span class="company_name_datalist">Apple</span></div>
                    <div onclick="selectTicker('IBM');"><strong>IBM</strong><br/><span class="company_name_datalist">Innovative Business Machine</span></div>
                    <div onclick="selectTicker('T');"><strong>T</strong><br/><span class="company_name_datalist" >AT&T</span></div>
                </div>
            </div>
            
            <div class="loader" style="display: none;"></div>
            <div id="error" class="collapse alert alert-danger"><div class="error-content"><span>No company found for ticker: BXND</span></div></div>
            <div id="company_data" class="data_content collapse mb-5">
                <div class="card text-white bg-dark border-0" style="width: 100%; ">
                    <div class="row g-0">
                        <div class="col-md-3 d-flex flex-wrap align-items-center justify-content-center">
                            <img src="" alt="" id="image_jinja" style="width: 50%;"/>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h2><span id="name_jinja"></span> (<span id="ticker_jinja"></span>)</h2>
                                <h3 id="sector_jinja"></h3>
                                <h3 id="price_jinja"></h3>
                                <div id="last_update_jinja"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab mb-5">
                    <button class="tablinks active" onclick="openTab('summary_button', 'Summary'); onOpenSummary();" id="summary_button">Summary</button>
                    <button class="tablinks" onclick="openTab('finances_button', 'Finances'); onOpenFinances();" id="finances_button">Finances</button>
                    <button class="tablinks" onclick="openTab('dividends_button', 'Dividends'); onOpenDividends();" id="dividends_button">Dividends</button>
                </div>
                <div id="Summary" class="tabcontent" style="display: block;">
                    <h2>Value</h2>
                    <table class="div_info">
                        <tr>
                            <th><h5><span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Price/Earnings Ratio">Price/Earnings</span></h5></th>
                            <th><h5><span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Price/Book value Ratio">Price/Book value</span></h5></th>
                            <th><h5><span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Price/Cash flow Ratio">Price/Cash flow</span></h5></th>
                        </tr>
                        <tr>
                            <td><h4><span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Price/Earnings Ratio" id="pe_jinja"></span></h4></td>
                            <td><h4><span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Price/Earnings Ratio" id="pb_jinja"></span></h4></td>
                            <td><h4><span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Price/Earnings Ratio" id="pfc_jinja"></span></h4></td>
                        </tr>
                    </table>
                    <h2>Historical Prices</h2>
                    <div class="btn-group" role="group" aria-label="Time period" id="time-period-price">
                        <button type="button" class="btn btn-secondary" onclick="updateHistoricalPrices('1d');" id="1d">Today</button>
                        <button type="button" class="btn btn-secondary" onclick="updateHistoricalPrices('1w');" id="1w">1 Week</button>
                        <button type="button" class="btn btn-secondary" onclick="updateHistoricalPrices('1m');"id="1m">1 Month</button>
                        <button type="button" class="btn btn-secondary" onclick="updateHistoricalPrices('6m');" id="6m">6 Months</button>
                        <button type="button" class="btn btn-secondary active" onclick="updateHistoricalPrices('1y');" id="1y">1 Year</button>
                        <button type="button" class="btn btn-secondary" onclick="updateHistoricalPrices('5y');" id="5y">5 Years</button>
                        <button type="button" class="btn btn-secondary" onclick="updateHistoricalPrices('10y');" id="10y">10 Years</button>
                        <button type="button" class="btn btn-secondary" onclick="updateHistoricalPrices('max');" id="max">Max</button>
                    </div>
                    <div id="container_historical_prices"></div>
                    <h2>Description</h2>
                    <p id="description_jinja"></p>
                    <h2>News</h2>
                    <div id="news_jinja" class="container"></div>
                </div>
                <div id="Finances" class="tabcontent" style="display: block;">
                    <h2>Revenues</h2>
                    <p>Revenue is the income generated from normal business operations and includes discounts and deductions for returned merchandise. It is the top line or gross income figure from which costs are subtracted to determine net income. </p>
                    <div id='container_revenues'></div>
                    <h2>Net Income</h2>
                    <p>Net income (NI), also called net earnings, is calculated as sales minus cost of goods sold, selling, general and administrative expenses, operating expenses, depreciation, interest, taxes, and other expenses. It is a useful number for investors to assess how much revenue exceeds the expenses of an organization. This number appears on a company's income statement and is also an indicator of a company's profitability. </p>
                    <div id='container_earnings'></div>
                    <h2>Debt Ratio</h2>
                    <p>Debt is an amount of money borrowed by one party from another. Debt is used by many corporations and individuals as a method of making large purchases that they could not afford under normal circumstances. A debt arrangement gives the borrowing party permission to borrow money under the condition that it is to be paid back at a later date, usually with interest. </p>
                    <div id='container_debt_ratio'></div>
                </div>
                <div id="Dividends" class="tabcontent" style="display: block;">
                    <p class="div_score"><strong>Dividend Score:</strong> <span id="div_score_jinja"></span></p>
                    <table class="div_info">
                        <tr>
                            <th><h5>Div. Yield</h5></th>
                            <th><h5>Last year<br/> Growth Rate</h5></th>
                            <th><h5>3 Years Growth Rate</h5></th>
                            <th><h5>5 Years Growth Rate</h5></th>
                            <th><h5>Payout Ratio</h5></th>
                            <th><h5>Dividend Growth</h5></th>
                        </tr>
                        <tr>
                            <td><h4 id="div_yield_jinja"></h4></td>
                            <td><h4 id="cagr_1_jinja"></h4></td>
                            <td><h4 id="cagr_3_jinja"></h4></td>
                            <td><h4 id="cagr_5_jinja"></h4></td>
                            <td><h4 id="payout_ratio_jinja"></h4></td>
                            <td><h4 id="continuous_dividend_growth_jinja"></h4></td>
                        </tr>
                    </table>
                    <p>A dividend is the distribution of some of a company's earnings to a class of its shareholders, as determined by the company's board of directors.
                        Common shareholders of dividend-paying companies are typically eligible as long as they own the stock before the ex-dividend date.
                                                 Dividends may be paid out as cash or in the form of additional stock. </p>
                    <div id='container_dividend'></div>
                </div>
            </div>
        </div>
        
</body>

</html>

<script>
   $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    let tabcontent = document.getElementsByClassName("tabcontent");
    for (let i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    var company_data = [];
    var timerID = -1;
    let currentTicker = "";
    function displayData(data){
        document.getElementById("div_score_jinja").innerText = data["dividend_features"]["div_score"]
        document.getElementById("div_yield_jinja").innerText = data["dividend_features"]["div_yield"]
        document.getElementById("cagr_1_jinja").innerText = data["dividend_features"]["cagr_1"]
        document.getElementById("cagr_3_jinja").innerText = data["dividend_features"]["cagr_3"]
        document.getElementById("cagr_5_jinja").innerText = data["dividend_features"]["cagr_5"]
        document.getElementById("payout_ratio_jinja").innerText = data["dividend_features"]["payout_ratio"]
        document.getElementById("continuous_dividend_growth_jinja").innerText = data["dividend_features"]["continuous_dividend_growth"] + " Years"
        document.getElementById("last_update_jinja").innerText = data["last_update"]
        document.getElementById("image_jinja").innerText = data["image"]
        document.getElementById("name_jinja").innerText = data["name"]
        document.getElementById("ticker_jinja").innerText = data["ticker"]
        document.getElementById("sector_jinja").innerText = data["sector"]
        document.getElementById("description_jinja").innerText = data["description"]
        document.getElementById("price_jinja").innerText = data["price"]
        document.getElementById("pe_jinja").innerText = data["value_data"]["pe"].toLocaleString(undefined, {maximumFractionDigits: 1, minimumFractionDigits:1})
        document.getElementById("pe_jinja").setAttribute("data-bs-original-title", "Sector Average: " + data["sector_stats"]["avgPERatio"].toLocaleString(undefined, {maximumFractionDigits: 1, minimumFractionDigits:1}))
        document.getElementById("pb_jinja").innerText = data["value_data"]["pb"].toLocaleString(undefined, {maximumFractionDigits: 1, minimumFractionDigits:1})
        document.getElementById("pb_jinja").setAttribute("data-bs-original-title","Sector Average: " + data["sector_stats"]["avgPBRatio"].toLocaleString(undefined, {maximumFractionDigits: 1, minimumFractionDigits:1}))
        document.getElementById("pfc_jinja").innerText = data["value_data"]["pfcf"].toLocaleString(undefined, {maximumFractionDigits: 1, minimumFractionDigits:1})
        document.getElementById("pfc_jinja").setAttribute("data-bs-original-title","Sector Average: " + data["sector_stats"]["avgPFCRatio"].toLocaleString(undefined, {maximumFractionDigits: 1, minimumFractionDigits:1}))
        document.getElementById("image_jinja").src = data["image"]
        let newsLength = data["news"].length < 10 ? data["news"].length : 10;
        let newsHTML ="<div class='row row-cols-1 row-cols-md-3 g-4'>"
        for(let i=0; i<newsLength; i++){
            newsHTML += '<div class="col" >\n' +
                '  <div class="card bg-dark text-white h-100" >\n' +
                '    <img src="' + data["news"][i]["image"]+ '" class="card-img-top" alt="' + data["news"][i]["title"]+ '">\n' +
                '    <div class="card-body">\n' +
                '      <h5 class="card-title">' + data["news"][i]["title"]+ '</h5>\n' +
                '      <p class="card-text">' + data["news"][i]["text"]+ '</p>\n' +
                '      <p class="card-text"><small class="text-muted">' + (new Date(data["news"][i]["publishedDate"])).toUTCString() + '</small></p>\n' +
                '    </div>' +
                '    <div class="card-footer">' +
                '      <a href="' + data["news"][i]["url"]+ '" class="btn btn-primary">Go to ' + data["news"][i]["site"]+ '</a>\n' +
                '    </div>\n' +
                '  </div>\n' +
                '</div>\n';
        }
        newsHTML +="</div>"
        document.getElementById("news_jinja").innerHTML = newsHTML;
        openTab('summary_button', 'Summary');
        let last_update = new Date(data["last_update"]);
        let today = new Date();
        let mil_to_days = 24*60*60*1000;
        let diff_time = (today - last_update)/mil_to_days
        let style_date = "last_update_recent";
        if (diff_time> 1){
            style_date = "last_update_late";
        }
        else if(diff_time > 5){
            style_date = "last_update_passed";
        }
        document.getElementById("last_update_jinja").className = style_date;
        let tabbuttons = document.getElementsByClassName("tablinks");
        for (let i = 0; i < tabbuttons.length; i++) {
            tabbuttons[i].disabled = false;
        }
        sleep(500).then( () =>{
            onOpenSummary();
        })
    }
    function onOpenSummary(){
        document.getElementById("container_historical_prices").innerHTML = "";
        new LineChart("div#container_historical_prices", company_data["price_data"], false)
    }

    function onOpenDividends(){
        document.getElementById("container_dividend").innerHTML = "";
        new DivergingHierarchicalHorizontalBarChart("div#container_dividend", company_data["dividends_data"]["dividend"])
    }
    
    function onOpenFinances(){
        document.getElementById("container_revenues").innerHTML = "";
        document.getElementById("container_earnings").innerHTML = "";
        document.getElementById("container_debt_ratio").innerHTML = "";
        new DivergingHierarchicalHorizontalBarChart("div#container_revenues", company_data["financial_data"]["revenue"])
        new DivergingHierarchicalHorizontalBarChart("div#container_earnings", company_data["financial_data"]["netIncome"])
        new LineChart("div#container_debt_ratio", company_data["balance_sheet_data"])
    }
    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
   }
    function startSearch(){
        $("#tickers").collapse('hide');
        $("#company_data").collapse('hide');
        if (timerID !== -1){
            clearInterval(timerID); // The setInterval it cleared and doesn't run anymore.
        }
        timerID = -1;
        document.getElementsByClassName("loader")[0].style.display = "block";

        let ticker = document.getElementById("ticker_input").value.toUpperCase();
        let ticker_length = ticker.length;
        ticker = ticker.substring(0, ticker_length < 8 ? ticker_length : 8);
        currentTicker = ticker;
        var request = new Request('/screener-api/' + ticker);
        var data = [];
        fetch(request).then(function(response) {
            return response.text();
        }).then(function(text) {
            data = JSON.parse(text);



            if("Error" in data){
                document.getElementsByClassName("loader")[0].style.display = "none";
                document.getElementsByClassName("error-content")[0].innerHTML = data['Error'];
                $("error").collapse("show");
                sleep(10000).then(() => {
                    $("error").collapse('hide');
                })
            }
            else {
                company_data = data;
                document.getElementsByClassName("loader")[0].style.display = "none";
                displayData(company_data);
                $("#company_data").collapse('show');
                updatePrice(ticker);
                timerID = createRoutineForTicker(10 * 1000, updatePrice, ticker);
            }
        });
        
    }

    function updateHistoricalPrices(period){
        let request = new Request('/historical-price-api/' + currentTicker + "/" + period);
        $("#time-period-price>button.active").removeClass("active");
        $("#" + period).addClass("active");
        fetch(request).then(function(response) {
            return response.text();
        }).then(function(text) {
            company_data["price_data"] = JSON.parse(text);
            onOpenSummary();
        });
    }
    
    let tabbuttons = document.getElementsByClassName("tablinks");
    for (let i = 0; i < tabbuttons.length; i++) {
        tabbuttons[i].disabled = true;
    }
    
    function suggestCompanies(event, tickers) {
        if (event.keyCode === 13) {
            let ticker = document.getElementById("ticker_input").value.toUpperCase();
            if (ticker.length > 0){
                startSearch();
            }
        }
        else if(event.keyCode === 27){
            $("#tickers").collapse('hide');
        }
        else if(event.keyCode > 40 || event.keyCode < 9) { // don't take into account arrow keys and random values that are not important
            $("#tickers").collapse("show");
            let str=''; // variable to store the options
            let ticker_value = document.getElementById("ticker_input").value.toUpperCase();
            if (ticker_value.length > 0){
                for (var i = 0; i < tickers["Tickers"].length; i++) {
                    if (tickers["Tickers"][i].startsWith(ticker_value)) {
                        str += "<div onclick=\"selectTicker('" + tickers['Tickers'][i] + "');\"><strong>"+tickers["Tickers"][i]+"</strong><br/><span class=\"company_name_datalist\">" + tickers["Name"][i] + "</span></div>\n"
                    }
                }
                let my_list=document.getElementById("tickers");
                my_list.innerHTML = str;
            }
        }
    }

    function selectTicker(ticker){
        let c_ticker = document.getElementById('ticker_input').value;
        if(c_ticker !== ticker){
            document.getElementById('ticker_input').value = ticker;
        }
        startSearch();
    }

    function createRoutineForTicker(interval, func, ticker) {
        return setInterval(function () {
            func(ticker);
        }, interval);
    }

    function updatePrice(ticker){
        let request = new Request('/quote-api/' + ticker);
        fetch(request).then(function (response) {
            return response.text();
        }).then(function (text) {
            let quote = JSON.parse(text);
            let isPositive = quote[0]["change"] > 0;
            let color = isPositive ? "#82b446" : "red";
            let price = quote[0]["price"].toString() + " <span style='font-size: 1.75rem;color: " + color +"'>" + (isPositive ? "+": "") +  quote[0]["change"].toString() +
                " (" + quote[0]["changesPercentage"].toString() + "%)</span>";
            $("#price_jinja").html(price);
        });
    }
</script>
