body {
    font: 12px Arial;
    color: cornsilk;
    background-color: rgb(32, 29, 38);
    margin: 0px;
}

/* Style the tab */
.tab {
    overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 25px;
    width: 25%;
    transition: 0.3s;
    color: cornsilk;
}


.last_update_recent {
    border-radius: 5px;
    background-color: green;
    padding: 5px;
    width: 20%;
}

.last_update_late {
    border-radius: 5px;
    background-color: orange;
    padding: 5px;
    width: 20%;
}

.last_update_passed {
    border-radius: 5px;
    background-color: darkred;
    padding: 5px;
    width: 20%;
}


/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #98908a;
    color: cornsilk;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #98908a;
    color: cornsilk;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

div#container {
    width: 100%;
    height: 1000px;
    margin: auto;
}

line#horizontal_limit, line#vertical_limit{
    stroke: #fff;
    stroke-width: 1;
    stroke-dasharray: 3 6;
}

line#limit{
    stroke: #FED966;
    stroke-width: 3;
    stroke-dasharray: 3 6;
}

svg {
    width: 100%;
    height: 100%;
}

.dataframe input {
    width: 100%;
}

.submit_button {
    border-radius: 5px;
    background-color: green;
    padding: 5px;
    text-align: center;
    width: 100%;
}

.del_button {
    border-radius: 5px;
    background-color: red;
    padding: 5px;
    text-align: center;
}

.dataframe {
    width: 100%;
    margin-top: 30px;
}

.dataframe,
.dataframe td,
.dataframe th {
    border-collapse: collapse;
    border: 0px;
    text-align: right;
}

.dataframe thead {
    font-size: 15px;
    padding: 5px;
}

.dataframe tr {
    height: 35px;
}

.dataframe tbody tr {
    cursor: pointer;
}

.dataframe tbody tr:hover {
    background-color: dimgrey;
}

.dataframe td,
.dataframe th {
    padding: 5px;
}

.dataframe tr:nth-child(odd) {
    background: #302E2E;
}

.dataframe tr:nth-child(even) {
    background: rgb(32, 29, 38);
}

.dataframe .input_row:nth-child(odd) {
    background: #302E2E;
}

.dataframe .input_row:nth-child(even) {
    background: #302E2E;
}

.dataframe thead th {
    cursor: pointer;
}

.main_content {
    margin: auto;
    width: 80%;
    padding: 0 20px;
}

.menu {
    position: fixed;
    top: 90px;
    float: left;
    text-align: center;
    padding: 0px 15px 15px 15px;
}

.menu_button {
    padding: 5px;
    font-size: 15pt;
    cursor: pointer;
}

.menu_button:hover {
    color: skyblue;
}

.left td,
.left th {
    text-align: left;
}

.right {
    float: left;
    width: 8%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
}

#dividends {
    background-color: #302E2E;
    padding: 10px;
    min-height: 500px;
}

.div_score {
    font-size: 30px;
}

.div_info {
    table-layout: fixed;
    width: 100%;
}

.div_info th,
.div_info td {
    text-align: center;
}

.negative {
    color: red;
}

.positive {
    color: lawngreen;
}

#graphDiv {
    width: 80%;
    margin: auto;
}

.logout-button {
    border-radius: 5px;
    background-color: darkred;
    padding: 10px;
    float: right;
    width: 7.5%;
    text-align: center;
    color: aliceblue;
    cursor: pointer;
}

.ticker {
    font-weight: bold;
}

.title {
    padding: 15px;
    text-align: center;
}

.layout {
    margin: auto;
    text-align: center;
}

.pie_plot {
    width: 49%;
    display: inline-block;
}

.empty_transaction {
    text-align: center;
    font-size: 12pt;
}

.portfolio_button {
    border-radius: 5px;
    background-color: dimgray;
    width: 25%;
    padding: 10px 0px 10px 20px;
    float: left;
    margin: 10px;
    height: 80px;
    cursor: pointer;
}

.portfolio_button h1 {
    margin-bottom: 0px;
}

.portfolio_add_button {
    border-radius: 5px;
    background-color: green;
    width: 25%;
    text-align: center;
    float: left;
    margin: 10px;
    height: 100px;
    cursor: pointer;
}

.portfolio_import_button {
    border-radius: 5px;
    background-color: skyblue;
    width: 25%;
    text-align: center;
    float: left;
    margin: 10px;
    height: 100px;
    cursor: pointer;
}

#add_portfolio_form {
    width: 30%;
    margin: auto;
}

.large_table {
    width: 100%;
}

.submit_portfolio_button {
    margin: auto;
    width: 50%;
    border-radius: 5px;
    background-color: green;
    padding: 5px;
    text-align: center;
}

.hidden {
    display: none;
}

#error_add_transaction {
    width: 60%;
    background-color: LightCoral;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 15px;
    margin: auto;
    display: none;
}

.block_60 {
    width: 60%;
}

#upcoming_dividends {
    float: right;
    width: 30%;
}

#world_map {
    width: 95%;
    margin: auto;
}

@media only screen and (max-width:720px) {

    /* For mobile phones: */
    .menu,
    .main,
    .right,
    .main_content {
        width: 100%;
    }

    .main_content {
        margin-top: 75px;
        padding-left: 0px;
    }

    .menu div {
        float: left;
        width: 45%;
    }

    .menu {
        background-color: #302E2E;
        top: 0;
        margin-left: 0;
        padding-top: 15px;
    }

    .pie_plot {
        width: 95%;
    }

    .tab button {
        width: 95%;
    }

    .block_60 {
        width: 95%;
    }

    #upcoming_dividends {
        float: none;
        width: 90%;
        margin: auto;
    }
}

@media only screen and (min-width:1420px) {

    /* For mobile phones: */
    .main_content {
        width: 60%;
    }

    .right {
        width: 18%;
    }

    .menu {
        width: 10%;
        margin-left: 8%;
    }
}
